# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
yolo_env/
venv/
env/
.venv/

# =========================
# Model Weights
# =========================
*.pt
*.pth
*.onnx
*.ckpt

# =========================
# Downloaded External Repositories
# =========================
MobileSAM/

# =========================
# Experimental Outputs
# =========================
runs/
output/
results/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Archives
# =========================
*.zip
*.7z
*.rar

# =========================
# Environment / Secrets
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store